<div id="section_agent" class="agent-page box-page " style="display:none;">
    <!-- dubut home-box-1 -->   
        <div  class="box stats-box-1" style="background-color: var(--primary-color);color: white;">
            <div>
                <div class="type">Nombres Total Agent</div>
            <div><h3 id="nombres__agent__total" class="nbrs-Population">----</h3></div>
            </div>  
        </div>
        <div id="btn_Agent Rescenseur_2" class=" agent-box-cat-1 box">
            <div onclick="btn_gestion_agent_element('Resenceur')" class="overlay">
                <div class="type">Agent Rescenseur</div>
               <div><h3 id="nombres__agent__rescenseur" class="nbrs-Population">----</h3></div>
            </div>  
        </div>
        
        <div onclick="btn_gestion_agent_element('Controleur')" class="agent-box-cat-2 box">
            <div class="overlay">
                <div class="type">Agent Controlleur</div>
                <div><h3 id="nombres__agent__controlleur" class="nbrs-migration">----</h3></div>
            </div>    
        </div>

        <div style="display: none;" onclick="btn_gestion_agent_element('Codificateur')" class="agent-box-cat-3 box">
            <div class="overlay">
                <div class="type">Agent Codificateur</div>
                <div><h3 class="nbrs-education">----</h3></div>
            </div> 
        </div>                         
</div>
<!-- fin partie stats du dashbord -->
<!-- 