{% load static %}
<div id="section_gestion_agent_element" class="gestion_agent_element suivi-page box-page" style="display: none;" >

    <!-- dubut home-box-1 -->
    <div class="gestion_agent-box-1 box">
        <div class="home-box-1-part-1">
            <img src=" {% static 'img/person-team-svgrepo-com.svg' %}  " alt="" height="35" width="35">
        </div>
        <div class="home-box-1-part-2"><h2>Nombre d'Agent <span id="agent-type"></span> </h2></div>
        <div class="home-box-1-part-3"><h2 class="counter" id="nbrs_agent"></h2></div>
    </div>
    <div class="gestion_agent-box-2 ">
        <div id="btn_modal_agent" class="box gestion_agent-box-2-part-1">
            Ajouter un Agent
        </div>  
    </div>
    <div  class="element-stats-box-2-part-4">
      <table>
        <tr class="tr1">
          <th>N Agents</th>
          <th>Nom Complet</th>
          <th>Matricule</th>
          <th>Mot de passe</th>
          <th>Zone</th>
          <th>Options</th>                           
        </tr>
      </table>
        
           <table id="lists__agents__controleur" style="display: none;">
          
            </table>
        
          <table id="lists__agents__rescenseur" style="display: none;width: 100%;">
           
          </table>         
    </div>
    <div class="gestion_agent-box-2 ">
      <div id="btn__load__section__agent__element" class="box gestion_agent-box-2-part-1">
          Charge Plus
      </div>  
  </div>
   
</div>