{% load static %}
<div id="section_stats_element" class="element-stats-page box-page" style="display: none;" data-categorie="">
    <div class="element-stats-box-1">
        <select id="listes__of__communes" class="w3-select" name="option" onchange="get__statistique__otherwise__categorie()">
            
        </select>
    </div>
    <div class="box element-stats-box-2">
        <div><h2 class="commune-name">Statistique generale <span id="categorie__name"></span> de la commune de <span id="commune__name"></span> </h2></div>
        <div id="element_stats" class="inner-element-stats-box-2">
           
            
        </div>
    </div>
    <div class="element-stats-box-2-part-4">
        <table  id="listes__of__communes__population">
            
            
        </table>
    </div>
   
</div>