{% load static %}
<div id="section_stats" class="stats-page box-page " style="display: none;">
    <!-- dubut home-box-1 -->
        <div class="stats-box-1 box">
            <div class="stats-box-1-part-1"> 
                <img src="{% static 'img/person-team-svgrepo-com.svg' %}" alt="" height="35" width="35">
            </div>
            <div class="stats-box-1-part-2"><h2>Population total de Lubumbashi:</h2></div>
            <div class="stats-box-1-part-3"><h3 id ="Population_total_lushi_section_stats">-------</h3></div>
        </div>
        <!--POPULATION-->
        <div onclick="btn_stats_element('Population')" id="btn_stats_population_2" class="btn_stats_population stats-box-cat-1 box">
            <div class="overlay">
                <div class="type">Population</div>
               <div><h3 id="nbrs_Population">-----</h3></div>
            </div>  
        </div>
        <!-- MIGRATION -->
        <div onclick="btn_stats_element('Migration')" class="stats-box-cat-2 box">
            <div class="overlay">
                <div class="type">Migration<span style="font-size: 14px;color:yellow;">(Nationnaux)</span></div>  
                <div><h3><span id="nbrs_migration">---</span></h3></div>
            </div>    
        </div>
        <!--EDUCATION-->
        <div onclick="btn_stats_element('Education')" class="stats-box-cat-3 box">
            <div class="overlay">
                <div class="type">Education<span style="font-size: 14px;color:yellow;">(Lettre)</span></div>
                <div><h3 ><span id="nbrs_education">---</span></h3></div>
            </div> 
        </div>

        <!--ETAT CIVIL -->
        <div onclick="btn_stats_element('Etat-Civil')" class="stats-box-cat-4 box">
            <div class="overlay">
                <div class="type">Etat Civil<span style="font-size: 14px;color:yellow;">(Mariee)</span></div>
                <div><h3><span id="nbrs_civil">---</span></h3></div>
            </div> 
        </div>
    
        

   
</div>