<div id="section_Suivi_de_Rescensement" class="suivi-page box-page" style="display: none;" >
                    
    <div class="suivi-box-1">
        <div class="box suivi-box-1-part-1">
            <div> <h5>Nombres de Zone termines</h5> </div>
            <div> <h3><span id="nombres__total__des__zones__valide" >---</span>/<span id="nombres__total__des__zones__suivi__1">---</span></h3></div>
        </div>
        <div class="box suivi-box-1-part-2">
            <div> <h5>Nombres de Zone en cours</h5> </div>
            <div> <h3><span id="nombres__total__des__zones__non__valide">---</span>/<span id="nombres__total__des__zones__suivi__2">---</span></h3></div>
        </div> 
        
    </div>
    <div class="element-stats-box-2-part-4">
        <table >
            <tr class="tr">
                <th colspan="6" ><h2>Par Zones</h2></th>
            </tr>
            <tr class="tr1">
              <th>Nom de Zones</th>
              <th>Agent Resenceur</th>
              <th>Agent Controleur</th>
              <th>Status</th>
              <th>Progression</th>
              <th>Etat</th>                           
            </tr>
          </table>
          <table id="listes_of_suivi_by__zone">
           
          </table>
    </div>
   
</div>