<div id="section_Suivi_de_Rescensement" class="gestion_agent_element suivi-page box-page" style="display: none;" >
                    
    <div class="suivi-box-1">
        <div class="box suivi-box-1-part-1">
            <div> <h5>Nombres de Zone termines</h5> </div>
            <div> <h3><span id="nombres__total__des__zones__valide" >---</span>/<span id="nombres__total__des__zones__suivi__1">---</span></h3></div>
        </div>
        <div class="box suivi-box-1-part-2">
            <div> <h5>Nombres de Zone en cours</h5> </div>
            <div> <h3><span id="nombres__total__des__zones__non__valide">---</span>/<span id="nombres__total__des__zones__suivi__2">---</span></h3></div>
        </div> 
        
    </div>
    <div class="element-stats-box-2-part-4">
          <table id="listes_of_suivi_by__zone">
           
          </table>
    </div>
    <div class="gestion_agent-box-2" style="display: flex;flex-direction: column;">
        <div id="loader__bar__suivi" style="display: none;">
            <span id="loader"></span>
        </div>
      <div id="btn__load__section__suivi__zone" class="box gestion_agent-box-2-part-1">
          Voir Plus
      </div>  
  </div>
   
</div>