<div id="section_Suivi_de_Rescensement" class="suivi-page box-page" style="display: none;" >
                    
    <div class="suivi-box-1">
        <div class="box suivi-box-1-part-1">
            <div> <h4>Nombres de Zone termines</h4> </div>
            <div> <h3><span>1400</span>/<span>100000</span></h3></div>
        </div>
        <div class="box suivi-box-1-part-2">
            <div> <h4>Nombres de Zone en cours</h4> </div>
            <div> <h3><span>9600</span>/<span>100000</span></h3></div>
        </div> 
        
    </div>
    <div class="element-stats-box-2-part-4">
        <table>
            <tr class="tr">
                <th colspan="6" ><h2>Par Zones</h2></th>
            </tr>
            <tr class="tr1">
              <th>Nom de Zones</th>
              <th>Agent Resenceur</th>
              <th>Agent Controleur</th>
              <th>Status</th>
              <th>Progression</th>
              <th>Etat</th>                           
            </tr>
            <tr class="tr2">
              <td> <strong>Alfreds Futterkiste</strong></td>
              <td>Maria Anders</td>
              <td>Germany</td>
              <td>en cours </td>
              <td><progress id="file" value="140" max="200"> 32% </progress></td>
              <td>140/200</td>
            </tr>
            <tr class="tr2">
                <td> <strong>Alfreds Futterkiste</strong></td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>en cours </td>
                <td><progress id="file" value="140" max="200"> 32% </progress></td>
                <td>140/200</td>
            </tr>
            
            
          </table>
    </div>
   
</div>