<div id="section_Suivi_de_fiche" class="suivi-page box-page" style="display: none;">
                    
    <div class="suivi-box-1">
        <div class="box suivi-box-1-part-1">
            <div> <h4>Nombres de fiche valide</h4> </div>
            <div> <h3><span>1400</span></h3></div>
        </div>
        <div class="box suivi-box-1-part-2">
            <div> <h4>Nombres de fiche pas valide</h4> </div>
            <div> <h3><span>9600</span></h3></div>
        </div> 
        
    </div>
    <div class="element-stats-box-2-part-4">
        
    </div>
   
</div>