{% extends "base/base.html" %}
{% load static %}
{% load cache %}
{%block titre%} Dashbord {%endblock titre %}
{%block links %} 
<link rel="stylesheet" href="{% static 'css/page_dashbord/style-dashbord.css' %}"> 

{%endblock links %}
{%block body %}
<body class="body" onload="load_data()" >
      <!--DEBUT DU HAEDER -->
      {% include "dashbord/components/drapeau.html" %}
    <!--FIN DU HAEDER -->
    <!--DEBUT DU CONATINER -->
    <div  id="main_div" class="container-dashbord" style="visibility: hidden;">
 
        <!--DEBUT DU MAIN -->
       <main class="close-main-mobi"> 
<!-- ***********************************************************************************************************************************-->
         {% include "dashbord/components/sidebar.html" %}
<!-- ***********************************************************************************************************************************-->
          <!-- debut de colonne dashbord  -->
            <div class="col-dashbord">
                <!--partie adsmin bar -->
                <div class="adminbar">

                    <div class="menu-burger">
                        <button class="hamburger hamburger--elastic " type="button">
                            <span class="hamburger-box">
                              <span class="hamburger-inner"></span>
                            </span>
                          </button>
                    </div>

                    <div class="admin-panel">
                        <div class="armoirie">
                            <img src="{% static 'img/Armoirie png.png' %}" alt="armoirie du congo" height="30" width="30"> 
                        </div>
                        <div class="admin-name">
                            <div class="name">{{request.user.username}}</div>
                            <div class="poste">{{request.user.type_agent|default:"Administrateur"}}</div>
                        </div>
                        <div class="drapeau">
                            <img src="{% static 'img/drapequ du congo.png' %}" alt="drapeau du congo" height="30"  width="30"> 
                        </div>
                    </div>

                    <div class="deconnexion-settings">
                        <a href="{% url 'logout' %}"><img src="{% static "img/logout-svgrepo-com.svg" %}" alt="" height="45" width="45" title="Deconnexion"></a> 
                        
                    </div>

                </div>
 <!-- !##################################################################section########################################################## -->         
                <!-- debut partie stat page du dashbord -->
                {% include "dashbord/section/home_section.html" with nbrs_p=nombre_population_total nbrs_m=nombre_homme nbrs_f=nombre_femme  %}
                <!-- fin partie home du dashbord -->
<!-- !##################################################################section########################################################## -->
                <!-- debut partie stats du dashbord -->
                {% include "dashbord/section/stats_section.html" %}
               
                <!-- fin partie stats du dashbord -->
<!-- !##################################################################section########################################################## -->               
                <!-- debut partie stats population du dashbord -->
                {% include "dashbord/section/stats_element_section.html" %}
                
                <!-- fin partie stats du dashbord -->
<!-- !##################################################################section########################################################## -->            
                <!-- debut partie stats population du dashbord -->
                {% include "dashbord/section/suivi_resc_section.html" %}
                
                <!-- fin partie stats du dashbord -->
                <!-- !##################################################################section########################################################## -->        
                <!-- debut partie stats Suivi_de_fiche -->
                {% include "dashbord/section/suivi_fiche_section.html" %}
                
                <!-- fin partie stats du dashbord -->
                <!-- !##################################################################section########################################################## -->  
                <!-- debut partie stats du dashbord -->
                {% include "dashbord/section/agent_section.html" %}
                <!-- fin partie stats du dashbord -->
            <!-- !##################################################################section########################################################## -->  
                <!-- debut partie stats du dashbord -->
                <!-- debut partie stats population du dashbord -->
                {% include "dashbord/section/agent_element_section.html" %}
               
                <!-- fin partie stats du dashbord -->
                <!-- fin partie stats du dashbord -->
                <!-- !##################################################################section########################################################## -->  
                <!-- debut partie stats du dashbord -->
                <!-- debut partie stats population du dashbord -->
                {% include "dashbord/section/zone_section.html" %}
                 
                
                <!-- fin partie stats du dashbord -->
            </div>
         <!-- fin de colonne dashbord  -->
       </main>
        <!--FIN DU MAIN -->
<!-- ***********************************************************************************************************************************-->      
   </div>
<!--FIN DU CONATINER --> 


{% include "dashbord/components/overlay.html" %}
<!--slash screen-->
{% include "dashbord/components/slash_sreen.html" %}

<!-- La fenêtre modale -->

{% include "dashbord/components/modal_agent.html" %}
<!-- La fenêtre modale -->
{% include "dashbord/components/modal_zone.html" %}


<!--DEBUT DES SCRIPTS -->


<!--FIN DES SCRIPTS --> 
</body>
{%endblock body %}

{%block js %} 
<script>
  var  list_des_communes = [
    {% for i in list_des_communes %}
                   {{i.commune}},          
    {% endfor %}
    ]
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js' integrity='sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==' crossorigin='anonymous'></script>
<script src="{% static 'js/script-ajax.js' %}"></script>
<script src="{% static 'js/script-dashbord.js' %}"></script>   
<script src="{% static 'js/script-dashbord-2.js' %}"></script> 

{%endblock js %}
</html>