.element-stats-page{
    display: flex;
    flex-direction:column;
    select {
        width: 100%;
        padding: 16px 20px;
        border: none;
        border-radius: var(--border-raduis);
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        background-color: var(--primary-color);
        box-shadow: var(--primary-box-shadow);
        option{
            padding: 16px 20px;
            margin: 10px 0;
        }
      }
    .element-stats-box-2{
        text-align: center;
        .inner-element-stats-box-2{
            display: flex;
            flex-wrap:wrap ;
            justify-content: space-around;
            align-items: center;
            h2{
                margin: 0;
                padding: 0;
                font-size: 32px;
            }
            .element-stats-box-2-part-1{
                .total{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .Ttl{
                        text-align: left;
                        font-weight: bold;
                    }
                }
            }
            .element-stats-box-2-part-3{
                display: flex;
                flex-wrap:wrap ;
                gap: 10px;
                .homme,.femme{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }
                .sexe{
                    text-align: left;
                    
                }
                .F{
                    color: var(--jaune);
                }
                .M{
                    color: var(--bleu);
                }

            }
            .element-stats-box-2-part-4{
                align-items: center;
                
            }
        }
        
    }
}
table{
    width: 100%;
    border-spacing:0 20px;
}
th, td {
    padding: 15px;
  }


.tr{
    background-color: var(--third-color);
    border-radius: var(--border-raduis); 
    position: relative;
    top: 20px;
    padding: 5px;
}
.tr1{
    background-color: var(--third-color);
    border-radius: var(--border-raduis); 
    th{
        text-align: left;
    }
}
.tr2{
    box-shadow: var(--primary-box-shadow);
    background-color: var(--third-color);
    border-radius: var(--border-raduis);
    transition:all .3s ease-in-out;
    &:hover{
        background-color: var(--second-color);
        box-shadow: none;
        
    }

}